<div class="container">
    <h1>My Template Form</h1>
    {{friend | json}}
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit(friendForm)" #friendForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" required minlength="4" [(ngModel)]="friend.name" #name="ngModel">
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="alert alert-danger">
               {{name.errors|json}}
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
          <button type="submit" [disabled]="!friendForm.form.valid">Submit</button>
        </form>
        <div [hidden]="!friendForm.form.valid">
          {{submitMessage}}
        </div>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
          <div class="col-xs-3">Name:</div>
          <div class="col-xs-9  pull-left">{{ friend.name }}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>